@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;600;700&family=Shanti&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: ubuntu, sans-serif;
    /* min-height: 100vh; */
    background-color: #FDF2DE;
}

.wrapper{
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding: 30px;
    gap:30px;
}

.sidebar{
    width: 17%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: #4C332B;
    transition: 1s;

    /* width: 18%;
    height: 100%;
    background: #4c332b;
    padding: 6px 14px;
    transition: all 0.5s ease;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 8px; */
}

.sidebar-header{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    padding: 0 30px;
}

.sidebar-header .logo {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1.3px solid rgba(255, 255, 255, 0.7);
}

.sidebar-header img {
    width: 73%;
    height: auto;
    padding: 1.2em 0;
    object-fit: contain;
}

.sidebar ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
}

.sidebar ul li {
    width: 100%;
    transition: 0.3s ease;
}

.sidebar ul li:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.sidebar ul li.active {
    width: calc(100% + 0.2em);
    border-radius: 0 10px 10px 0;
    background: #3B2721;
    box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.5);
}

.sidebar ul li:last-child {
    margin-top: auto;
    margin-bottom: 10px;
}

.sidebar ul li:last-child a:hover{
    color: rgb(252, 54, 54);
}

.sidebar ul li a {
    display: flex;
    align-items: center;
    gap: 9px;
    padding: 13px 28px;
    font-size: 12px;
    text-decoration: none;
    color: #fff;
}

.sidebar ul li a:active {
    transform: scale(.96);
    transition: 0.3s;
}

.sidebar ul li a img {
    width: 20px;
}

.section {
    position: relative;
    width: 80%;
}

.content {
    flex: 1;
    width: auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
}

.page-header h3{
    color: #000000;
    font-size: 25px;
    margin-bottom: 12px;
}

.search-area {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
    margin-bottom: 14px;
}

.btn-add {
    width: 85px;
    height: 34px;
    border: none;
    border-radius: 8px;
    background-color: #654137;
    color: #fff;
    font-family: 'ubuntu', sans-serif;
    font-size: 14px;
    cursor: pointer;
}

.btn-add:hover {
    background-color: #4c332b;
}

.search-box {
    flex: 0.9;
    height: 40px;
    border: 1px solid #0000004f;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 0 13px;
    background-color: #fff;
}

.search-box i {
    color: #00000063;
    font-size: 13px;
    margin-right: 8px;
}

.search-box input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    font-family: 'ubuntu', sans-serif;
    font-size: 13px;
    color: #000000;
}

.search-box input::placeholder {
    color: #00000063;
    font-family: 'ubuntu', sans-serif;
    font-size: 13px;
}

.data-table {
    width: 91%;
    border-collapse: separate;
    border-spacing: 0 5px;
    font-family: 'ubuntu', sans-serif;
    font-size: 14px;
    color: #ffffff;
}

.data-table thead tr {
    height: 40px;
}

.data-table thead th {
    background-color: #4C332B;
    padding: 0 20px;
    text-align: left;
    font-weight: 400;
}

.data-table tbody tr {
    height: 40px;
}

.data-table tbody td {
    background-color: #F2F2F2;
    padding: 0 20px;
    color: #000000;
}

.top-left {
    border-top-left-radius: 8px;
}

.bottom-left {
    border-bottom-left-radius: 8px;
}

.top-right {
    border-top-right-radius: 8px;
}

.bottom-right {
    border-bottom-right-radius: 8px;
}

.action {
    border: none;
    background-color: transparent;
    color: #000000;
    font-size: 16px;
    cursor: pointer;
}

.action i {
    margin: 0 3px;
}

.action img {
    width: 20px;
    margin: 0 3px;
}